.navbar.navbar-inverse.custom{
	background: #000;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar.navbar-inverse.custom li{
	font-size: 1.3em;
}

.navbar.navbar-inverse.custom li.active{
	font-weight: bolder;
}

#logo, #logo{
	color: #F00;
	font-size: 1.4em;
}

#logo strong{
	color: #00BFFF;
}

#carousel{
	padding-left: -15px;
	padding-right: -15px;
}

.carousel .item img {
  max-height: 600px;
  min-width: 100%;
}

.dark{
	background: #000;
	border: #888;
}

.dark:hover{
	background: #f00;
	border: #888;
}

.jumbotron img{
	display: block;
	width: 100%;
}

.jumbotron p:last-child{
	text-align: right;
}

.box-home {
    width: 80%;
    margin: 5px auto;
}

#main-home .box-home:hover {
	box-shadow: 0px 2px 18px 0px #000;
}


.box-home img {
	display: block;
	width: 100%;
	min-height: 250px;
	margin-bottom: 20px;
}

.box-home span{
	padding: 5px;
	display: inline-block;
	text-align: justify;
}

.box-home div{
	padding: 10px 5px;
	text-align: right;
}

.box-home p{
	text-align: justify;
}

.box-home h3{
	text-align: center;
}

#content-social-network{
	margin-top: 20px;
	width: 100%;
	background: #00BFFF;
	height: 70px;
	padding-top: 10px;
}

.center-align{
	display: block;
	float: none;
	margin: 0 auto;
	width: 270px;
}

#content-social-network img{
	width: 50px;
	height: 50px;
}

#footer{
	height: 35px;
	background: #000;
	color: #FFF;
	
}

#footer #logo{
	line-height: 35px;
}

.footer-info{
	line-height: 35px;
	float: right;
}

.center-pagination{
	text-align: center;
}

#contato {
	float: none;
	display: block;
	margin: 0 auto;
    width: 50%;
}

#contato button{
	margin-top: 10px;
	float: right;
}

.carousel-caption a{
	color: #FFF;
}

@media (max-width: 480px){
	.box-home {
	    width: 98%;
	    margin: 1% auto;
	}

	.carousel .item img {
	  max-height: 180px;
	}

	#contato {
	    width: 100%;
	}

	.jumbotron img{
		display: block;
		margin: 0 auto;
		width: 50%;
	}

}

@media (min-width: 481px) and (max-width: 767px) {
	.box-home {
	    width: 98%;
	    margin: 1% auto;
	}

	.carousel .item img {
	  max-height: 280px;
	}

	#contato {
	    width: 100%;
	}

	.jumbotron img{
		display: block;
		margin: 0 auto;
		width: 50%;
	}
}


@media (min-width: 768px) and (max-width: 1000px){
	#logo, .navbar.navbar-inverse.custom li {
	    font-size: 1.0em;
	}

	#logo, .navbar.navbar-inverse.custom li a{
		padding: 15px 5px;
	}	

	.box-home {
   		width: 98%;
    	margin: 5px auto;
	}

	.carousel .item img {
	  max-height: 450px;
	}

}

@media (min-width: 1001px) and (max-width: 1200px){

	.box-home {
   		width: 98%;
    	margin: 5px auto;
	}

}